body{
    margin:0;
    font-family: 'Dubai', BlinkMacSystemFont, 'Segoe UI','Cairo', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    overflow-y: scroll;
    overflow-x: hidden;
    transition:0.6s;
    font-weight: 320;
}

#homePage{
    height:100vh;
    width:100vw;
}

nav{
    position: relative;
    background-color:#ececec;
    width:100%;
    height:75px;
    border-bottom: 3px solid #385a64;
    display:flex;
    flex-wrap: wrap;
}

/*identity of the website*/
nav h1{
    display:inline-block;
    position: absolute;
    left:10%;
    cursor: pointer;
    color:#385a64;
}

#logo{
    display:inline-block;
    position: absolute;
    left:10%;
    cursor: pointer;
    height: 75px;
}

#dashboard{
    display:none;
}

#welcomeText{
    text-align: center;
}

#landingPage{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 78px);
}

/*Background of the landing page*/
#landingPage::before{
    content: "";
    background-color: #ececec;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
}

#landingPage p{
    font-size:3rem;
    line-height: 1.55;
    color:#385a64;
}

#landingPage img{
    width:100%;
    margin-left:20px;
    border: 3px solid #CCC;
    border-radius: 100px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

#img1{
    width:50%;
}

#landingPage span{
    display: block;
    margin: 0 auto 0 auto;
    color: #ff735c;
    background-color: white;
    border: 4px solid #385a64;
    border-radius: 40px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    cursor: pointer;
    margin: 15px 0 10px 0;
    padding: 10px;
}

#sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sec2 h1{
    margin: 20px;
    font-size: 4rem;
}

#login{
    border-radius:40px;
    border: 3px solid #777;
    width: 200px;
    height:40px;
    position: relative;
}

#logintext{
    position: absolute;
    right:50%;
    top:50%;
    transform: translate(50%,-50%);;
}

#div3{
    display:none;
}

#sec3{
    width:300px;
    height:fit-content;
    background-color: aqua;
    border: 4px solid #777;
    border-radius:20px;
    position: absolute;
    top:50%;
    transform: translate(50%,-50%);
    right:50%;
}

#roomname{
    border-radius:20px;
    border:4px solid #777;
    height:90px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    margin: 0 auto 15px auto;
    color:#777;
    background-color: white;
    border: 4px solid #385a64;
    border-radius: 40px;
    cursor:pointer;
    width: 97%;
}

#div4{
    display:none;
}

#showRoom{
    display: none;
}

#div2{
    display:none;
}

#div2 div{ 
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    flex-basis:33%;
    margin: 20px;
    background-color: #385a64;
    color:white;
    border-radius: 20px;
    border:4px solid white;
    height: 116px;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
}

#div4 #cont{
    width:70%;
    height:100%;
}

.back2{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    color:red;
    border-radius: 20px;
    border:4px solid #777;
    height: 116px;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
    flex-basis:90%!important;
}

#messageSend{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    color:red;
    border-radius: 20px;
    border:4px solid #777;
    height: 116px;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
}

#deletmessage{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    color:red;
    border-radius: 20px;
    border:4px solid #777;
    height: fit-content;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
}

#roomsec{
    display:none;
}

textarea{
    width:100%;
}

#roomsec div{
    display:inline-block;
    flex-basis:29%;
    width:260px;
    height:fit-content;
    font-size: 3rem;
    color:white;
    background-color:#385a64;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 20px;
    border:4px solid white;
    text-align: center;
    margin:0 20px 20px 20px;
    padding: 15px 0 15px 0;
}

#listmsg{
    display:none;
}

#msgsec{
    display:None;
}

#showmsg{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    color:red;
    border-radius: 20px;
    border:4px solid #777;
    height: fit-content;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
}

#delmsg{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    color:red;
    border-radius: 20px;
    border:4px solid #777;
    height: fit-content;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
}

@media(max-width:1400px){
    #img1{
        display:none;
    }
}

@media(max-width:1350px){
    #roomsec div{
        flex-basis:44%;
    }
}

@media(max-width:907px){
    #roomsec div{
        flex-basis:100%;
    }
}

